:root {
  --extern-GLD: 1.618;
  --extern-GLDC: 0.618;
  --extern-margin-h: 10vw;
  --extern-margin-v: 10vh;
  --extern-main-font-family: "Inter", "Noto Sans Thai", "-apple-system", "BlinkMacSystemFont", "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto", "Noto", "Arial", "Tahoma", sans-serif;
  --extern-main-font-size: 2.2vh;
  --extern-main-heading-font-family: "Inter", "IBM Plex Sans Thai", "Noto Sans Thai", "-apple-system", "BlinkMacSystemFont", "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Helvetica", "Cantarell", "Ubuntu", "Roboto", "Noto", "Arial", "Tahoma", sans-serif;
  --extern-main-heading-font-size: calc(var(--extern-main-font-size) * var(--extern-GLD));
  --extern-main-varbatim-font-family: "Noto Sans Mono", "Menlo", "Consolas", "Monaco", "Liberation Mono", "Lucida Console", monospace;
}
